:root {
    --width-sidebar: 250px;

    --primary-color: #202442;
    --secondary-color: #25294A;
    --bg-item: #2D325A;
}

.genshin-body {
    overflow: hidden;
}

.genshin-sidebar {
    width: var(--width-sidebar);
    background: var(--primary-color);
}

.genshin-sidebar .genshin-nav-links::-webkit-scrollbar {
    display: none;
}

.genshin-sidebar .genshin-nav-links li.show-menu .gesnhin-sub-menu {
    display: block;
}

.genshin-sidebar .genshin-language {
    width: var(--width-sidebar);
}

.gesnhin-small-text {
    font-size: 12px;
    line-height: 1;
    padding-bottom: 3px;
    word-spacing: 200px;
}












.genshin-main-section {
    left: var(--width-sidebar);
    width: calc(100% - var(--width-sidebar));
    height: 100vh;
}

@media only screen and (max-width: 1650px) {
    .genshin-main-section {
        height: 100%;
    } 
}

